<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Project</title>
</head>
<body>
    <h1>PASSWORD MANAGER</h1>

    <h2>Add New Password</h2>
    <form action="/add_password" method="POST">
        Website: <input type="text" name="website" required><br>
        Email: <input type="text" name="email"><br>
        Password: <input type="password" name="password" required><br>
        <button type="submit">Save Password</button>
    </form>

    <h2>Your Saved Passwords</h2>
    <ul>
        {% for password in passwords %}
            <li>
                <form action="/update_password/{{ loop.index0 }}" method="POST">
                    Website: <input type="text" name="website" value="{{ password['website'] }}" required><br>
                    Email: <input type="text" name="email" value="{{ password['email'] }}"><br>
                    Password: <input type="text" name="password" value="{{ password['password'] }}" required><br>
                    <button type="submit">Update</button>
                </form>
                <a href="/delete_password/{{ loop.index0 }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
